<html>
<head>
    <title>
        <%= title %>
    </title>
</head>
<body>
<h1><%= title %></h1>
<div class="navbar">
    <p>
        <a href="/">Home</a>
        |
        <a href="/fibonacci">Fibonacci Calculator</a>
    </p>
</div>
